<Files .htaccess>
Order allow,deny
Deny from all
</Files>
<IfModule mod_rewrite.c>
  RewriteEngine on
  # RewriteCond %{HTTP_HOST} ^www [NC]
  # RewriteRule ^(.*)$ http://nnl-news/$1 [L,R=301]
  # Projec PHP thuần

  RewriteCond %{REQUEST_URI} ^(.+\/Admin\/)$
  RewriteRule (.*) director.php?url=$1 [L]

  RewriteCond %{REQUEST_URI} ^(.+\/view\/)$
  RewriteRule (.*) director.php?url=$1 [L]

  RewriteCond %{REQUEST_URI} ^(.+\/)$
  RewriteRule (.*) director.php?url=$1 [L]

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule ^(.+)$ director.php?url=$1 [L,QSA]

</IfModule>

